body {
  background: white;
  font-family: "Roboto", sans-serif;
}

/*---------------------------------------
  Logo               
-----------------------------------------*/
.logo a {
 font-size: 24px;
 color: #F9FAF8;
 text-decoration: none;
 font-weight: 700;
}

/*---------------------------------------
  Header               
-----------------------------------------*/
.navbar{
background-color: #1f2937;
}


/*---------------------------------------
  HERO              
-----------------------------------------*/
/* .hero {
  background: var(--secondary-color);
  position: relative;
  overflow: hidden;
  padding-top: 330px;
  padding-bottom: 330px;
}

@media  screen and (min-width: 991px) {
  .hero {
    height: 60vh;
  }
}

.hero-title,
.hero h2 {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: var(--border-radius-large);
  display: inline-block;
  padding: 8px 24px;
}

.hero-title {
	font-size: 44px;
}

.hero h2 {
	font-size: 38px;
}

.hero-text {
  position: relative;
  z-index: 22;
  top: 70px;
}

.hero-image-wrap {
  background: var(--white-color);
  border-radius: 100%;
  width: 350px;
  height: 350px;
  position: absolute;
  z-index: 22;
  top: -50px;
  right: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
}

.hero-image {
  position: absolute;
  z-index: 22;
  top: 0;
  width: 100%;
  min-width: 550px;
}

.hero svg {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  pointer-events: none;
} */
